.card{
    margin: 0 1rem 5rem; 
    background-color: #fff; 
    border-radius: 15px; 
    display: flex; 
    flex-direction: column; 
    gap: 2rem; 
    box-shadow: 0 10px 15px hsla(223, 50%, 87%, .3);
    translate: 0 -150px; 
}

@media (min-width: 750px){
    .card{
        max-width: 600px; 
        margin: 0 auto; 
        translate: 0 -175px;
    }
}