.header{
    position: relative; 
}
.bg img{
    height: 60vh; 
    width: 100vw; 
}

.text{
    background: url("../assets/pattern-circles.svg") center/150px no-repeat; 
    position: absolute; 
    top:0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    text-align: center; 
    display: flex; 
    justify-content: center;
    flex-direction: column; 
    translate: 0 -10vh; 
}

.title{
    font-size: 1.3rem; 
    color: var(--c-blue-dark25-35); 
    margin-bottom: .5rem; 
}

.text p{
    color: var(--c-blue-mid60-20); 
}

@media (min-width: 750px) {
    .title{
        font-size: 1.8rem; 
    }
}